.DS_Store
.idea
.vscode
__pycache__/
/docs/source/_apidoc/
/docs/source/autoapi/
/docs/build/
/docs/source/_tutorials/
/testing/
/tutorials/.ipynb_checkpoints/
tutorials/*.zarr
tutorials/*.nc
tutorials/*.mp4
tutorials/fit_example
tutorials/saving_analysis_metadata.json
/paper/jats
/paper/paper.pdf